<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    {{! 这个表达式会被每个视图自己的HTML取代。在创建Handlebars实例时，我们指明了默认布局（defaultLayout:'main' ）。这就意味着除非你特别指明，否则所有视图用的都是这个布局。 }}
    <header><img src="/img/logo.jpg" alt="Meadowlark Travel Logo" /></header>
    {{{body}}}
  </body>
</html>